
#container-navbar.container
  nav.navbar
    a.navbar-brand(href='/' style='margin-right:0px;')
      img.d-inline-block.align-top(src=global.url+'/images/logo.png', style='width:300px; height:57px;' alt='')
    ul.nav.justify-content-end
      - var navItems = ['HOME', 'BOARD', 'PROFILE', 'CONTACT']
      - var navAddress = ['/', '/board/1', '/user', '/contact']
      - for (var i = 0; i < navItems.length; i++)
          if (navItems[i] == currentPage)
            li.nav-item
              a.nav-link.active(href=navAddress[i]) #{currentPage}
          else if (navItems[i] == currentPage && i == navItems.length - 1)
            li.nav-item.last-one
              a.nav-link.active(href=navAddress[i]) #{currentPage}
          else if (i == navItems.length - 1)
            li.nav-item.last-one
              a.nav-link(href=navAddress[i]) #{navItems[i]}
          else
            li.nav-item
              a.nav-link(href=navAddress[i]) #{navItems[i]}