
#container-navbar.container
  nav.navbar
    a.navbar-brand(href='#' style='margin-right:0px;')
      img.d-inline-block.align-top(src='images/logo.png', style='width:300px; height:57px;' alt='')
    ul.nav.justify-content-end
      - var navItems = ['HOME', 'USER', 'LOGIN', 'CONTACT']
      - var navAddress = ['/', '/user', '/login', '/contact']
      - for (var i = 0; i < navItems.length; i++)
          if (navItems[i] == navIdx)
            li.nav-item
              a.nav-link.active(href=navAddress[i]) #{navIdx}
          else if (navItems[i] == navIdx && i == navItems.length - 1)
            li.nav-item.last-one
              a.nav-link.active(href=navAddress[i]) #{navIdx}
          else if (i == navItems.length - 1)
            li.nav-item.last-one
              a.nav-link(href=navAddress[i]) #{navItems[i]}
          else
            li.nav-item
              a.nav-link(href=navAddress[i]) #{navItems[i]}

      //- li.nav-item
      //-   a.nav-link.active(href='#') HOME
      //- li.nav-item
      //-   a.nav-link(href='#') USER
      //- li.nav-item
      //-   a.nav-link(href='#') LOGIN
      //- li.nav-item.last-one
      //-   a.nav-link(href='#') CONTACT